# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Editor and OS
.DS_Store
.idea/
.vscode/

# Logs or temp data
*.log
*.tmp
*.bak

# Jupyter
.ipynb_checkpoints/

# Python packaging
*.egg-info/
dist/
build/
